/* app css stylesheet */

body {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
}


/* header part */
.header {
    z-index: 100;
    flex: 0 0 auto;
    width: 100%;
    height: 5em;
    margin: 0;
    padding: 0;    
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.header > .content {
    display: flex;
    justify-content: space-between;
    width: 55%;
    max-width: 700px; 
    height: inherit;
    margin: 0 auto;
    padding: .6em; 
    font-size: 2em;
}

.header > .content > a:first-child { text-decoration: none; }

@media (max-width: 768px) {
    .header > .content { width: 100%; }        
}


/* main */
.main {
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
}

.main > .main-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* footer */
.footer {    
    z-index: 100;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    height: 5em;
    box-shadow: 0 -1px 3px rgba(26,26,26,.1);
}

.my-pager {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; 
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .my-pager { width: 100%; }      
}

.my-pager > li {
    padding: .3em .9em;
    user-select: none;
}

.my-pager > li:nth-of-type(2n+1) {
    border: 1px solid #ccc;
    border-radius: 1em;
    cursor: pointer;
}

.my-pager > li:nth-of-type(2n+1).disabled {
    color: gray;
    background: #ddd;
    cursor: not-allowed;
}

.my-pager > li:nth-of-type(2n+1):hover {
    background: #ddd;
}


/* View: book list */
.books {
    height: 100%; 
    list-style: none;
    overflow: auto;
}

.books-list {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

.books-list-item {
    clear: both;
    height: 16em;
    padding: 1em;
    margin-top: 1em;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.books-list-item .thumb {
    float: left;
    height: 14em;
    width: 14em;
    margin: 0 1em;
}

@media (max-width: 768px) {
    .books-list-item { height: 12em; }
    .books-list-item .thumb {
        height: 10em;
        width: 10em;
    }
}

.books-list-item .thumb > img {
    display: block;
    max-height: 100%;
    width: auto;
    margin: 0 auto;
}

/* View: book detail */
.book {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.book-detail {    
    /* use flex to make child vertical center */
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 700px;
    height: inherit;
    margin: 0 auto;
    padding: 1em;
}

.book-detail .cover > img {
    display: block;
    max-height: 350px;
    width: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .book-detail .cover > img {
        max-width: calc(100vw - 30px); 
        height: auto;
        margin: 0 auto;
    }
    .book-detail .info {
        padding: 0 3em;
    }
}

.book-detail .info .author {
    color: gray;
}
