/* app css stylesheet */

/* import components style */
@import url("book-list/style.css");
@import url("book-detail/style.css");
@import url("add-edit-book/style.css");


body {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* header part */
.header {
    z-index: 100;
    flex: 0 0 auto;
    width: 100%;
    height: 5em;
    margin: 0;
    padding: 0;    
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.header > .content {
    display: flex;
    justify-content: space-between;
    width: 55%;
    max-width: 700px; 
    height: inherit;
    margin: 0 auto;
    padding: .6em; 
    font-size: 2em;
}

.header > .content > a:first-child { text-decoration: none; }

@media (max-width: 767px) {
    .header > .content { width: 100%; }        
}


/* main */
.main {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    
    /* this only for book-detail */
    position: relative;
}

/* footer */
.footer {    
    z-index: 100;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    height: 5em;
    box-shadow: 0 -1px 3px rgba(26,26,26,.1);
}

.my-pager {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; 
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .my-pager { width: 100%; }      
}

.my-pager > li {
    padding: .3em .9em;
    user-select: none;
}

.my-pager > li:nth-of-type(2n+1) {
    border: 1px solid #ccc;
    border-radius: 1em;
    cursor: pointer;
}

.my-pager > li:nth-of-type(2n+1).disabled {
    color: gray;
    background: #ddd;
    cursor: not-allowed;
}

@media (min-width: 768px) {
    .my-pager > li:nth-of-type(2n+1):hover {
        background: #ddd;
    }
}
