<!DOCTYPE html>
<html lang="en" ng-app="booksApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Management System</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>

    <header class="header">
        <div class="content">
            <a href="#!/books">Books</a>
            <a href="#!/add">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </header>

    <main class="main">
        <div ng-view class="main-view"></div>
    </main>

    <footer class="footer">
        <ul class="my-pager">
            <li ng-class="{disabled: page.current === 1}" 
                ng-click="page.current = page.current > 1 ? page.current - 1 : 1">
                previous
            </li>
            <li>{{ page.total === -1 ? '...' : (page.current + '/' + page.total) }}</li>
            <li ng-class="{disabled: page.current === page.total}" 
                ng-click="page.current = page.current < page.total ? page.current + 1 : page.current">
                next
            </li>
        </ul>
    </footer>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="book-list/component.js"></script>
    <script src="book-detail/component.js"></script>

</html>