.book-detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.book-detail .container {
    width: 700px;
    padding: 1em;
    margin: auto;
}

.book-detail .action {
    display: flex;
    flex-flow: row-reverse nowrap;
    padding: 0 3em;
    font-size: 1.2em;
}

.book-detail .container:hover .action {
    visibility: visible;
}

@media (min-width: 768px) {
    .book-detail .action { visibility: hidden; }
}

.book-detail .action .glyphicon {
    padding: .5em;
    color: #aaa;
    cursor: pointer;
}

.book-detail .action .glyphicon:hover {
    color: #666;
}

.book-detail .cover > img {
    display: block;
    max-height: 350px;
    width: auto;
    margin: 0 auto;
}

.book-detail .info .author {
    color: gray;
}

.book-detail .meta {
    margin: .3em 0;
    font-size: .9em;
    color: #aaa;
}

@media (max-width: 767px) {
    .book-detail .cover > img {
        max-width: calc(100vw - 30px); 
        height: auto;
        margin: 0 auto;
    }
    .book-detail .info { padding:  0 3em; }
}