
.books-list {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
    list-style: none;
}

.books-list-item {
    clear: both;
    height: 16em;
    padding: 1em;
    margin-top: 1em;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.books-list-item .thumb {
    float: left;
    height: 14em;
    width: 14em;
    margin: 0 1em;
}

@media (max-width: 767px) {
    .books-list-item { height: 12em; }
    .books-list-item .thumb {
        height: 10em;
        width: auto;
    }
    .books-list-item .name { font-size: 17px; }
    .books-list-item .author { font-size: 14px; }
}

.books-list-item .thumb > img {
    display: block;
    max-height: 100%;
    width: auto;
    margin: 0 auto;
}

