
.my-pager {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; 
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .my-pager { width: 100%; }      
}

.my-pager > li {
    padding: .3em .9em;
    user-select: none;
}

.my-pager > li:nth-of-type(2n+1) {
    border: 1px solid #ccc;
    border-radius: 1em;
    cursor: pointer;
}

.my-pager > li:nth-of-type(2n+1).disabled {
    color: gray;
    background: #ddd;
    cursor: not-allowed;
}

@media (min-width: 768px) {
    .my-pager > li:nth-of-type(2n+1):hover {
        background: #ddd;
    }
}
