<div class="add-edit-book container">

    <h4 class="title">{{action | capitalize}} Book</h4>

    <div class="row">        
        <div class="col-sm-4 pic">
            <div class="pre-view">
                <img ng-src="{{cover}}" alt="default cover">
                <input type="file" 
                    id="coverUpload"
                    name="coverFile" 
                    accept="image/jpg, image/jpeg, image/png"
                    ng-model="newCover"
                    ng-change="uploadCover()"/>
            </div>
            <button class="btn btn-default" ng-click="uploadClick()">Upload Book Cover</button>
        </div>
        
        <form class="col-sm-8 form-horizontal">
        
            <div class="form-group">
                <label for="inputBookName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" 
                        class="form-control" 
                        id="inputBookName" 
                        placeholder="Name"
                        maxlength="128"
                        ng-model="book.name">
                </div>
            </div>
    
            <div class="form-group">
                <label for="inputBookAuthor" class="col-sm-3 control-label">Author</label>
                <div class="col-sm-9">
                    <input type="text" 
                        class="form-control" 
                        id="inputBookAuthor" 
                        placeholder="Author"
                        maxlength="128"
                        ng-model="book.author">
                </div>
            </div>
    
            <div class="form-group">
                <label for="inputBookDescription" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <textarea class="form-control" 
                        rows="10" 
                        id="inputBookDescription" 
                        placeholder="Description"
                        maxlength="1024"
                        ng-model="book.description">
                    </textarea>
                </div>
            </div>
    
            <div class="form-group submit">
                <div class="col-sm-offset-3 col-sm-2">
                    <button type="submit" 
                        class="btn btn-primary" 
                        ng-click="submit($event)">
                        submit
                    </button>
                </div>
            </div>
    
        </form>
    </div>
</div>